
    .body {
        font-family: PT Sans, sans-serif;
        width: 1920px;
        height: 2865px;
        top: -599px;
        left: -939px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FBE4FF;

    }

    header {
        position: relative;
        background-color: #003366;
        color: white;
        padding: 20px;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 48%;
        margin: 0 auto;
        font-family: PT Sans, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 7.7px;
        letter-spacing: 0.16em;

    }

    .logo {

        background-image: url(../image/img\ лого.png);
        width: 140px;
        height: 50px;
        position: absolute;
        top: 11px;
        left: 250px;


    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 29px;


    }

    nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .language {
        color: white;
        background-repeat: no-repeat;
        padding: 5px 10px;
        border-radius: 5px;
        font-family: PT Sans, sans-serif;
        font-size: 28px;
        text-align: center;
        position: relative;
        top: 2%;
        left: 296%;
    }

    .globe {


        background-image: url(../image/img\ глобус.png);
        width: 55.56px;
        height: 50px;
        top: 14%;
        left: 77%;
        position: absolute;

    }



    .booking-section {
        width: 1920px;
        height: 85px;
        top: 81px;
        background: #BFF0FF;
        position: absolute;
    }

    .booking-section h1 {

        text-align: center;
        position: absolute;
        top: -29%;
        left: 12%;
        font-family: PT Sans, sans-serif;
        font-size: 44px;
        font-style: italic;
        font-weight: 400;
        line-height: 56.94px;
        color: #202846;



    }

    .option_background {
        position: absolute;
        width: 1321px;
        height: 57px;
        top: 130px;
        left: 299px;
        background: #FFFFFF;

    }

    .option {
        text-align: center;
        position: relative;
        top: 9%;
        left: 35%;
        width: 342px;
        height: 36px;
        font-family: PT Sans, sans-serif;
        font-size: 28px;
        font-weight: 400;
        line-height: 36.23px;
        color: #0000009C;


    }

    .hover-container {
        position: relative;
    }

    .cart_1 {
        position: absolute;
        top: 236%;
        width: 1321px;
        height: 300px;
        margin: 220px;
        margin-left: 299px;
        display: flex;
        background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);




    }

    .cart_1:hover {
        background: #2CBDEB;
        box-shadow: 0px 0px 60px 4px #2CBDEB;

    }

    .bakota {

        width: 447px;
        height: 246px;
        top: 31px;
        left: 57px;
        position: absolute;
        background-image: url(../image/бакота.png);


    }

    .cart_1-title {

        position: relative;
        width: 280px;
        height: 47px;
        top: -26px;
        left: 541px;
        font-family: PT Sans, sans-serif;
        font-size: 36px;
        font-style: italic;
        font-weight: 700;
        line-height: 46.58px;
        white-space: nowrap;
        color: #353C57;


    }

    .card_1-text {

        width: 641px;
        height: 112px;
        position: relative;
        top: -88px;
        left: -92px;
        font-family: PT Sans, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 28.47px;
        text-align: left;
        padding: 15%;
        color: #202846;

    }

    .fon {
        width: 739px;
        height: 205px;
        top: 49px;
        left: 257px;
        position: relative;
        background: #EDFBFF;


    }

    .line {

        width: 739px;
        height: 3px;
        position: relative;
        top: -176px;
        left: 258px;
        background: #FFFFFF;



    }

    .star1 {
        width: 48px;
        height: 46px;
        top: -228px;
        left: 990px;
        color: #FFFFFF;
        position: relative;
        background-image: url(../image/зірка2.png);


    }

    .star1:hover {

        width: 48px;
        height: 46px;
        top: -228px;
        left: 990px;
        color: #FFF500;
        position: relative;
        background-image: url(../image/зірка.png);

    }

    .button_blu {
        width: 210px;
        height: 46px;
        top: 243px;
        left: 1147px;
        position: absolute;
        border-radius: 30px;
        background: #243B93;
    }

    .button_blu:hover {
        background: #EF075B;
    }


    .button_text {

        width: 214px;
        height: 31px;
        position: static;
        top: auto;
        left: 1492px;
        font-family: PT Sans, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 0.06px;
        text-align: center;
        color: #FFFFFF;


    }




    .hover-container:hover .star1 {

        color: #FFF500;
        background-image: url(../image/зірка.png);
    }


    .hover-container:hover .button_blu {
        background: #EF075B;

    }




    .cart_2 {
        position: absolute;
        width: 1321px;
        height: 300px;
        margin: 26px;
        margin-left: 299px;
        display: flex;
        top: 542px;
        left: 0px;
        background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);


    }

    .cart_2:hover {
        background: #2CBDEB;
        box-shadow: 0px 0px 60px 4px #2CBDEB;

    }


    .poloninu {

        width: 447px;
        height: 246px;
        top: 31px;
        left: 57px;
        position: absolute;
        background-image: url(../image/пирлина\ карпат.png);


    }

    .cart_2-title {

        position: relative;
        width: 280px;
        height: 47px;
        top: -26px;
        left: 541px;
        font-family: PT Sans, sans-serif;
        font-size: 36px;
        font-style: italic;
        font-weight: 700;
        line-height: 46.58px;
        white-space: nowrap;
        color: #353C57;


    }

    .card_2-text {

        width: 641px;
        height: 112px;
        position: relative;
        top: -88px;
        left: -92px;
        font-family: PT Sans, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 28.47px;
        text-align: left;
        padding: 15%;
        color: #202846;

    }

    .fon2 {
        width: 739px;
        height: 205px;
        top: 49px;
        left: 257px;
        position: relative;
        background: #EDFBFF;



    }

    .line2 {

        width: 739px;
        height: 3px;
        position: relative;
        top: -176px;
        left: 258px;
        background: #FFFFFF;



    }

    .star2 {

        width: 48px;
        height: 46px;
        top: -228px;
        left: 990px;
        color: #FFFFFF;
        position: relative;
        background-image: url(../image/зірка2.png);

    }

    .star2:hover {

        width: 48px;
        height: 46px;
        top: -228px;
        left: 990px;
        color: #FFF500;
        position: relative;
        background-image: url(../image/зірка.png);
    }

    .button_blu2 {
        width: 210px;
        height: 46px;
        top: 243px;
        left: 1147px;
        position: absolute;
        border-radius: 30px;
        background: #243B93;




    }

    .button_blu2:hover {
        background: #EF075B;
    }

    .button_text2 {

        width: 214px;
        height: 31px;
        position: static;
        top: auto;
        left: 1492px;
        font-family: PT Sans, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 0.06px;
        text-align: center;
        color: #FFFFFF;




    }

    .hover-container:hover .star2 {

        color: #FFF500;
        background-image: url(../image/зірка.png);
    }


    .hover-container:hover .button_blu2 {
        background: #EF075B;

    }



    .cart_3 {
        position: absolute;
        width: 1321px;
        height: 300px;
        margin: 26px;
        margin-left: 299px;
        display: flex;
        top: 878px;
        left: 0px;

        background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
        width: 1321px;




    }

    .cart_3:hover {
        background: #2CBDEB;
        box-shadow: 0px 0px 60px 4px #2CBDEB;

    }

    .kyiv_region {

        width: 447px;
        height: 246px;
        top: 31px;
        left: 57px;
        position: absolute;
        background-image: url(../image/автентична\ київщина.png);


    }

    .cart_3-title {

        position: relative;
        width: 280px;
        height: 47px;
        top: -26px;
        left: 541px;
        font-family: PT Sans, sans-serif;
        font-size: 36px;
        font-style: italic;
        font-weight: 700;
        line-height: 46.58px;
        white-space: nowrap;
        color: #353C57;


    }

    .card_3-text {

        width: 641px;
        height: 112px;
        position: relative;
        top: -88px;
        left: -92px;
        font-family: PT Sans, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 28.47px;
        text-align: left;
        padding: 15%;
        color: #202846;

    }

    .fon3 {
        width: 739px;
        height: 205px;
        top: 49px;
        left: 257px;
        position: relative;
        background: #EDFBFF;



    }

    .line3 {

        width: 739px;
        height: 3px;
        position: relative;
        top: -176px;
        left: 258px;
        background: #FFFFFF;



    }

    .star3 {

        width: 48px;
        height: 46px;
        top: -228px;
        left: 990px;
        color: #FFFFFF;
        position: relative;
        background-image: url(../image/зірка2.png);

    }

    .star3:hover {

        width: 48px;
        height: 46px;
        top: -228px;
        left: 990px;
        color: #FFF500;
        position: relative;
        background-image: url(../image/зірка.png);
    }

    .button_blu3 {
        width: 210px;
        height: 46px;
        top: 243px;
        left: 1147px;
        position: absolute;
        border-radius: 30px;
        background: #243B93;


    }

    .button_blu3:hover {
        background: #EF075B;
    }

    .button_text3 {

        width: 214px;
        height: 31px;
        position: static;
        top: auto;
        left: 1492px;
        font-family: PT Sans, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 0.06px;
        text-align: center;
        color: #FFFFFF;


    }

    .hover-container:hover .star3 {

        color: #FFF500;
        background-image: url(../image/зірка.png);
    }


    .hover-container:hover .button_blu3 {
        background: #EF075B;

    }


    .cart_4 {
        position: absolute;
        width: 1321px;
        height: 300px;
        margin: 26px;
        margin-left: 299px;
        display: flex;
        top: 1218px;
        left: 0px;

        background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);

    }

    .cart_4:hover {
        background: #2CBDEB;
        box-shadow: 0px 0px 60px 4px #2CBDEB;
    }

    .odesa {

        width: 447px;
        height: 246px;
        top: 31px;
        left: 57px;
        position: absolute;
        background-image: url(../image/нетипова\ одещина.png);


    }

    .cart_4-title {

        position: relative;
        width: 280px;
        height: 47px;
        top: -26px;
        left: 541px;
        font-family: PT Sans, sans-serif;
        font-size: 36px;
        font-style: italic;
        font-weight: 700;
        line-height: 46.58px;
        white-space: nowrap;
        color: #353C57;


    }

    .card_4-text {

        width: 641px;
        height: 112px;
        position: relative;
        top: -88px;
        left: -92px;
        font-family: PT Sans, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 28.47px;
        text-align: left;
        padding: 15%;
        color: #202846;

    }

    .fon4 {
        width: 739px;
        height: 205px;
        top: 49px;
        left: 257px;
        position: relative;
        background: #EDFBFF;



    }

    .line4 {

        width: 739px;
        height: 3px;
        position: relative;
        top: -176px;
        left: 258px;
        background: #FFFFFF;



    }

    .star4 {

        width: 48px;
        height: 46px;
        top: -228px;
        left: 990px;
        color: #FFFFFF;
        position: relative;
        background-image: url(../image/зірка2.png);

    }

    .star4:hover {

        width: 48px;
        height: 46px;
        top: -228px;
        left: 990px;
        color: #FFF500;
        position: relative;
        background-image: url(../image/зірка.png);
    }

    .button_blu4 {
        width: 210px;
        height: 46px;
        top: 243px;
        left: 1147px;
        position: absolute;
        border-radius: 30px;
        background: #243B93;


    }

    .button_blu4:hover {
        background: #EF075B;
    }

    .button_text4 {

        width: 214px;
        height: 31px;
        position: static;
        top: auto;
        left: 1492px;
        font-family: PT Sans, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 0.06px;
        text-align: center;
        color: #FFFFFF;


    }

    .hover-container:hover .star4 {

        color: #FFF500;
        background-image: url(../image/зірка.png);
    }


    .hover-container:hover .button_blu4 {
        background: #EF075B;

    }

    .back-to-top {
        position: relative;
        background-repeat: no-repeat;
        display: inline-block;
        width: 101px;
        height: 101px;
        top: 1397px;
        left: 1581px;
        background-image: url(../image/кнопка\ вверх.png);
        color: #300C6A4D;

    }



    .new-section {
        width: 1922px;
        height: 85px;
        position: absolute;
        top: 1628px;
        background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);

    }



    .client_card {

        width: 459px;
        height: 80px;
        top: 1795px;
        left: 832px;
        font-family: PT Sans, sans-serif;
        font-size: 36px;
        font-style: italic;
        font-weight: 700;
        line-height: 46.58px;
        text-align: left;
        color: #353C57;


    }

    .client_card {
        width: 1318px;
        height: 498px;
        position: absolute;
        top: 1749px;
        left: 301px;
        background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);

    }

    .iconka {
        width: 196px;
        height: 184px;
        position: absolute;
        top: 17%;
        left: 13%;
        border-radius: 208px;
        background-image: url(../image/іконка.png);

    }

    .butt-blu,
    .butt-red {
        width: 250px;
        height: 50px;
        position: absolute;
        border-radius: 30px;


    }

    .butt-blu {
        top: 61%;
        left: 11%;
        background: #243B93;

    }

    .butt-text1,
    .butt-text2 {
        width: 174px;
        height: 31px;
        font-family: PT Sans, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 31.06px;
        text-align: center;
        color: #FFFFFF;

    }

    .butt-text1 {
        white-space: nowrap;
        position: absolute;
        top: 289px;
        left: 178px;



    }

    .butt-red {


        top: 75%;
        left: 11%;
        background: #EF075B;

    }

    .butt-text2 {

        position: absolute;
        top: 357px;
        left: 183px;


    }

    .name {
        font-family: PT Sans, sans-serif;
        font-size: 36px;
        font-style: italic;
        font-weight: 700;
        line-height: 46.58px;
        text-align: left;
        position: absolute;
        white-space: nowrap;
        width: 459px;
        height: 80px;
        top: 40px;
        left: 545px;
        color: #353C57;


    }




    .line-1 {

        width: 712px;
        height: 0px;
        position: relative;
        top: 146px;
        left: 532px;
        border: 3px solid #FFFFFF
    }

    .line-2 {

        width: 712px;
        height: 0px;
        position: absolute;
        top: 233px;
        left: 539px;
        border: 3px solid #FFFFFF
    }

    .line-3 {

        width: 712px;
        height: 0px;
        position: absolute;
        top: 318px;
        left: 541px;
        border: 3px solid #FFFFFF
    }

    .line-4 {

        width: 712px;
        height: 0px;
        position: absolute;
        top: 412px;
        left: 541px;
        border: 3px solid #FFFFFF
    }

    .gender,
    .date,
    .tel,
    .email {

        font-family: PT Sans, sans-serif;
        font-size: 36px;
        font-style: italic;
        font-weight: 700;
        line-height: 46.58px;
        text-align: left;

    }

    .gender2,
    .date2,
    .tel2,
    .email2 {

        font-family: PT Sans, sans-serif;
        font-size: 36px;
        font-style: italic;
        font-weight: 400;
        line-height: 46.58px;
        text-align: left;

    }

    .gender {
        position: relative;
        top: 25%;
        left: 41%;
    }

    .gender2 {
        position: relative;
        top: 8%;
        left: 53%;

    }

    .date {

        position: relative;
        top: 10%;
        left: 41%;
    }

    .date2 {

        position: relative;
        top: -6%;
        left: 68%;
    }

    .tel {

        position: relative;
        top: -5%;
        left: 41%;
    }

    .tel2 {

        position: relative;
        top: -21%;
        left: 71%;
    }

    .email {
        position: relative;
        top: -21%;
        left: 41%;

    }

    .email2 {
        position: relative;
        top: -37%;
        left: 58%;
    }

    .butt-blu_go {
        width: 174px;
        height: 50px;
        position: absolute;
        top: 2266px;
        left: 873px;
        border-radius: 30px;
        background: #243B93;


    }

    .butt-blu_go-text {
        width: 174px;
        height: 31px;
        position: absolute;
        top: 2275px;
        left: 873px;
        font-family: PT Sans, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 31.06px;
        text-align: center;
        color: #FFFFFF;




    }

    .new-section2 {

        width: 1920px;
        height: 85px;
        top: 2372px;
        position: absolute;
        background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);


    }

    .box-contacts {
        font-family: PT Sans, sans-serif;

    }

    .contacts1,
    .contacts2,
    .contacts3,
    .contacts4,
    .contacts5,
    .contacts6 {


        line-height: 41.41px;
        text-align: left;
        color: #000000;
        position: absolute;
        font-weight: 400;
    }

    .contacts1 {
        width: 118px;
        height: 41px;
        top: 2459px;
        left: 224px;
        font-size: 32px;
        line-height: 41.41px;

    }

    .contacts2 {
        width: 250px;
        height: 39px;
        top: 2512px;
        left: 220px;
        font-size: 30px;
        line-height: 38.82px;
        white-space: nowrap;


    }

    .contacts3 {
        width: 133px;
        height: 41px;
        top: 2595px;
        left: 227px;
        font-size: 32px;
        line-height: 41.41px;
        white-space: nowrap;



    }

    .contacts4 {
        width: 229px;
        height: 39px;
        top: 2654px;
        left: 222px;
        font-size: 30px;
        line-height: 38.82px;
        white-space: nowrap;



    }

    .contacts5 {
        width: 185px;
        height: 41px;
        top: 2458px;
        left: 743px;
        font-size: 32px;
        line-height: 41.41px;





    }

    .contacts6 {

        width: 374px;
        height: 39px;
        top: 2513px;
        left: 740px;
        font-size: 30px;
        line-height: 38.82px;




    }

    .line-5,
    .line-6,
    .line-7 {
        position: absolute;
        border-top: 3px solid #202846
    }

    .line-5 {
        width: 244px;
        height: 0px;
        top: 2534px;
        left: 225px;

    }

    .line-6 {

        width: 386px;
        height: 0px;
        top: 2674px;
        left: 225px;

    }

    .line-7 {

        width: 264px;
        height: 0px;
        top: 2531px;
        left: 741px;
    }

    .maps-container {
        width: 499px;
        height: 290px;
        position: relative;
        top: 2390px;
        left: 1120px;
        border-radius: 40px;
        border: 3px solid #243B93
    }

    .maps-container iframe {
        width: 499px;
        height: 290px;
        border-radius: 40px;
        border-radius: none;
    }

    .footer-text {

        width: 1900px;
        height: 25px;
        top: 2779px;
        left: 0px;
        font-family: PT Sans, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 20.7px;
        letter-spacing: 0.16em;
        text-align: center;
        white-space: nowrap;
        color: #FFFFFF;

    }

    .footer {


        width: 1920px;
        height: 65px;
        position: absolute;
        top: 2796px;
        left: 0px;
        background: #243B93;



    }
