.container {
    width: 1280px;
    height: 720px;
    background-color: #ffffff;


}

.background {
    width: 404px;
    height: 490px;
    background-color: #000000;
    position: absolute;

    top: calc(36% - 245px + -8px);
    left: calc(15% - 202px + 438px);
}

.group1 {

    width: 140px;
    height: 140px;
    top: 5%;
    left: 39%;
    background-image: url(/image/group1.png);
    background-size: cover;
    position: absolute;



}



.text {

    font-family: Montserrat, sans-serif;
    font-size: 29px;
    font-weight: 600;
    line-height: 35.35px;
    letter-spacing: 0.39em;
    text-align: center;
    color: white;
    text-transform: lowercase;
    transform: translate(50%, -50%);
    position: absolute;
    top: 28%;
    left: 31%;


}





.button1 {
    width: 302px;
    height: 50px;

    color: #ffffff;
    background-color: transparent;
    border: none;
    outline: 2px solid #ffffff;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 34%;
    font-size: 19px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    line-height: 23.16px;
    letter-spacing: 0.12em;
    text-align: center;

    transition: color 0.3s ease, outline-color 0.3s ease;
}




.button1:hover {
    color: #90e1e2;
    outline-color: #8e4081;
}

.button2 {
    width: 302px;
    height: 50px;

    color: #ffffff;
    background-color: transparent;
    border: none;
    outline: 2px solid #ffffff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 34%;
    font-size: 19px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    line-height: 23.16px;
    letter-spacing: 0.12em;
    text-align: center;

    transition: color 0.3s ease, outline-color 0.3s ease;
}




.button2:hover {
    color: #90e1e2;
    outline-color: #8e4081;
}

